
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">

    <div class="am-u-md-8 am-u-sm-12">

      <% @blogs.each do |blog| %>
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <%= image_tag blog.cover_img_path ,:class=>"am-u-sm-12" %>
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span><a href="/blogs/<%= blog.id %>" class="blog-color">article &nbsp;</a></span>
                <span> <%= blog.user_name %> &nbsp;</span>
                <span><%= show_db_time(blog.created_at) %></span>
                <h1><a href="/blogs/<%= blog.id %>"><%= blog.title %></a></h1>
                <p><%= blog.content.html_safe %></p>
                <p><a href="/blogs/<%= blog.id %>" class="blog-continue">continue reading</a></p>
            </div>
        </article>
      <% end %>

      <%= paginate @blogs %>

    </div>

    <%= render '/shared/blog/right' %>
    
</div>
<!-- content end -->


