<p id="notice"><%= notice %></p>

<td><%= @industryes.industry%></td>
<td><%= @industryes.parent_id%></td>

<%= link_to 'Edit', edit_industrye_path(@industrye) %> |
<%= link_to 'Back', industryes_path %>
